@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #2c2e33;
  --bg-card: #232328;
  --bg-card-info: #111214;
  --text-color: #f1f1f1;
  --green: #57f287;
  --red: #ed4245;
  --blue: #5865f2;
  --pink: #eb459e;
  --yellow: #fee75c;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 6rem;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  background-color: var(--bg-card);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  padding: 0.8rem;
  color: var(--text-color);
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  height: 5rem;
  font-size: 2.5rem;
  gap: 1rem;
}

button {
  background-color: var(--blue);
  border: none;
  color: var(--text-color);
  font-weight: 500;
  padding: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.search form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--bg-card);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.banner {
  background-image: url("https://birobirobiro.dev/static/images/setup.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
  border-radius: 12px 12px 0 0;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 1rem;
}

.profile-picture img {
  position: absolute;
  top: 100px;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 5px solid var(--bg);
}

.badge {
  display: flex;
  background-color: var(--bg-card-info);
  padding: 0.5rem;
  border-radius: 8px;
}

.badge-default {
  display: flex;
  gap: 1rem;
}

.badge img {
  width: 2rem;
  height: 2rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--bg-card-info);
  padding: 2rem;
  margin: 1rem 2rem;
  border-radius: 8px;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

i {
  font-weight: 700;
}

#id {
  color: var(--blue);
}

#user {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--pink);
}

#account {
  color: var(--green);
}

.info-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2rem;
}

button i {
  font-size: 1rem;
}

button:hover {
  background-color: hsl(235, 86%, 65%, 0.8);
}

footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card {
    width: 100%;
  }

  footer {
    margin-top: 2rem;
  }
}